
$keyboardHeight : 100px;
$sequencerHeight : 200px;
$bottomHeight : 30px;
$borderWidth : 2px;

#info-icon {
    /*float: right;*/
    position: absolute;
    top: 400%;
    right: 70%;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 43px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 3px #EAEAEA solid;
    border-radius: 28px;
    text-align: center;
    color: #EAEAEA;
    z-index: 100;
}

#info-icon:hover {
    color: #FFD91D;
    border-color: #FFD91D;
    transition: color .3s ease-out;
    transition: border-color .3s ease-out;
}

#info-box {
    width: 30%;
    margin: 20px 0 0 20px;

    z-index: 100;
}

#info-header {}

#info-title {
    position: absolute;
    top: 300%;
    right: 20%;
    display: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: #EAEAEA;
    margin: -25px 0 0 18px;
    vertical-align: middle;

    z-index: 100;
}

#info-body {
    display: none;
    top: 400%;
    right: 20%;
    left: 30%;
    position:  absolute;
    font-family: 'Open Sans', sans-serif;
    color: #999;
    font-size: 16px;
    overflow: scroll;
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 20px 0 0 0;
    padding: 0 10px 0 0;

    z-index: 100;
}

.activate {}


body, #container{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	background-color: black;

	#keyboard {
		position: absolute;
		bottom: $bottomHeight;
		left: 0px;
		height: $keyboardHeight;
	}

	#aiSequenceIndicator {
		position: absolute;
		bottom: $bottomHeight;
		left: 0;
		width: calc(20% - 2 * #{$borderWidth});
		height: $sequencerHeight;
	}

	#beatCursor {
		position: absolute;
		bottom: calc(#{$bottomHeight + $sequencerHeight});
		height: 30px;
		left: 20%;
		width: 80%;
	}

	#sequencer {
		position: absolute;
		bottom: $bottomHeight;
		left: 20%;
		width: 80%;
		height: $sequencerHeight;
	}

	#roll {
		width : 100%;
		height: calc(100% - #{$keyboardHeight + $bottomHeight});
		position: absolute;
		top: 0px;
		left: 0px;
	}

	#glow {
		width : 100%;
		height: calc(100% - #{$sequencerHeight + $bottomHeight});
		position: absolute;
		top: 0px;
		left: 0px;
	}

	#bottom {
		width: 100%;
		height: $bottomHeight;
		bottom: 0px;
		left: 0px;
		position: absolute;
		background-color: rgb(34, 34, 34);
		box-shadow: inset 0px 12px 30px -5px rgba(0,0,0,0.75);
	}

	/* The switch - the box around the slider */
	.switch {
	  position: relative;
	  display: inline-block;
	  align-self: left;
	  width: 60px;
	  height: 20px;
	}

	/* Hide default HTML checkbox */
	.switch input {display:none;}

	/* The slider */
	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: rgb(249, 187, 45);
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.slider:before {
	  position: absolute;
	  content: "";
	  height: 12px;
	  width: 26px;
	  left: 4px;
	  bottom: 4px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	input:checked + .slider {
	  background-color: rgb(30, 183, 235);
	}

	input:focus + .slider {
	  box-shadow: 0 0 1px rgb(30, 183, 235);
	}

	input:checked + .slider:before {
	  -webkit-transform: translateX(26px);
	  -ms-transform: translateX(26px);
	  transform: translateX(26px);
	}
}

#container {
	opacity: 0.4;
	filter: blur(4px);
	$transitionTime : 0.2s;
	transition: filter $transitionTime, opacity $transitionTime;

	&.focus {
		filter: none;
		opacity: 1;
	}
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    background-color: #000000;
}



