<div>
    <select id="change-model">
      <option value="polyphonic" selected>Polyphonic</option> 
      <option value="melodic - attention">Melodic - Attention</option>
      <option value="melodic - lookback">Melodic - Lookback</option>
      <option value="melodic - basic">Melodic - Basic</option>
    </select>
</div>

