<div id="info-box">
            <div id="info-header">
                <div id="info-icon"> i </div><span id="info-title">{{ title }}</span>
            </div>
            <div id="info-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor dapibus lectus, ut accumsan arcu tincidunt eget. Praesent placerat finibus vulputate. Pellentesque faucibus tempus nisi, eu finibus justo iaculis in. Praesent vitae consequat nibh. Sed pretium sollicitudin dolor, sit amet molestie arcu eleifend sed. In sit amet porta libero. Nullam pretium lacus finibus, convallis tellus a, venenatis neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </div>
</div>

