{{> navPartial }}

<div id="title"> {{ title }} </div>

{{> infoboxPartial }}

</br>
<label>Choose Midi File</label>
<div>
    <select id="change-midi">
      <option value="" selected>Please select a midi to play</option> 
      <option value="schubert_935_4.mid">Schubert</option>
      <option value="haydn_8_1.mid">Haydn</option>
      <option value="mozart_545_1.mid">Mozart</option>
    </select>

    <button id="start-btn">Play</button>
</div>

