<form method="post" style="margin-bottom: 40px;">
  <fieldset>
    <legend>Demos</legend>
    <button type="submit" formaction="/#arpeggiator">Arpeggiator</button>
    <button type="submit" formaction="/#default">Default</button>
    <button type="submit" formaction="/#midiplayer">Midi Player</button>
    <button type="submit" formaction="/#pentatonic">Pentatonic</button>
    <button type="submit" formaction="/#quantizer">Quantizer</button>
  </fieldset>
</form>
