<fieldset id="seq-opt">
	<table>
	  <tr>
	    <td colspan="2">
	      <label>BPM</label></br>
	      <input id="change-bpm" type="range"  min="40" max="240" step="1" value="120"/></br>
	    </td>
	  </tr>
	  <tr>
	    <td>
	      <label>Seq On/Off</label>
	    </td>
	    <td>
	      <label class="switch">
	        <input id="toggle-seq" type="checkbox">
	        <div class="slider"></div>
	      </label>
	    </td>
	  </tr>
	</table>
</fieldset>
